/**
 * Variables
 */
/**
 * Functions
 */
/**
 * Mixins
 */
/**
 * Animations
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(180deg);
    /* FF3.5+ */
  
    -ms-transform: rotate(180deg);
    /* IE9 */
  
    -o-transform: rotate(180deg);
    /* Opera 10.5 */
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    /* Saf3.1+, Chrome */
  
    -moz-transform: rotate(0);
    /* FF3.5+ */
  
    -ms-transform: rotate(0);
    /* IE9 */
  
    -o-transform: rotate(0);
    /* Opera 10.5 */
    transform: rotate(0);
    zoom: 1;
  }
}
#header #header-components ul.nav {
  list-style: none;
}
#header #header-components .cart-contents {
  color: #fff;
  font-size: 1.2em;
  font-family: "Lato", sans-serif;
  padding: 0;
  font-weight: bold;
}
#header #header-components .cart-contents:hover {
  color: #43a1d6;
  text-decoration: none;
}
#header #header-components .cart-contents:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f07a";
  color: #43a1d6;
}
.star-rating {
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 64px;
  font-family: "fontawesome";
}
.star-rating:before {
  content: "\f006\f006\f006\f006\f006";
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  color: #ffffff;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
  top: 0;
  position: absolute;
  left: 0;
  color: #ff9d4c;
}
p.stars {
  position: relative;
  line-height: 1em;
  font-size: 1em;
}
p.stars:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
p.stars a {
  width: 19%;
  display: block;
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  padding: .5em .5em .5em .75em;
  background: rgba(0, 0, 0, 0.025);
  margin-right: 1%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
p.stars a:hover,
p.stars a.active {
  background: rgba(0, 0, 0, 0.075);
}
p.stars a.star-1:after,
p.stars a.star-2:after,
p.stars a.star-3:after,
p.stars a.star-4:after,
p.stars a.star-5:after {
  font-family: "FontAwesome";
  content: "\f005";
  position: absolute;
  top: .85em;
  width: 6em;
  right: 1em;
  font-size: .5em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #999;
  text-align: right;
}
p.stars a.star-1:hover:after,
p.stars a.star-2:hover:after,
p.stars a.star-3:hover:after,
p.stars a.star-4:hover:after,
p.stars a.star-5:hover:after,
p.stars a.star-1.active:after,
p.stars a.star-2.active:after,
p.stars a.star-3.active:after,
p.stars a.star-4.active:after,
p.stars a.star-5.active:after {
  color: #ff9d4c;
}
p.stars a.star-1:after {
  content: "\f005";
}
p.stars a.star-2:after {
  content: "\f005\f005";
}
p.stars a.star-3:after {
  content: "\f005\f005\f005";
}
p.stars a.star-4:after {
  content: "\f005\f005\f005\f005";
}
p.stars a.star-5:after {
  content: "\f005\f005\f005\f005\f005";
}
.widget .product_list_widget {
  list-style: none;
}
.widget .product_list_widget li {
  border-bottom: 1px dotted #eeeeee;
  margin: 0 0 1em;
  padding: 0 .53em 1em;
}
.widget .product_list_widget li:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.widget .product_list_widget li img {
  width: 2.618em;
  height: auto;
  float: right;
}
.widget .product_list_widget li a {
  display: block;
}
.widget .product_list_widget li:last-child {
  margin: 0;
  border: none;
}
.widget .star-rating {
  margin: 0 0 1em;
  float: none;
  clear: both;
}
.widget .star-rating:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
@media all and (max-width: 1025px) {
  .widget .star-rating {
    margin-top: 1.618em;
  }
}
.widget_layered_nav ul {
  list-style: none;
}
.widget_layered_nav ul li .count {
  float: right;
}
.widget_layered_nav ul li.chosen a {
  background: #ff9d4c;
  color: #fff;
  font-weight: bold;
  padding: .382em .618em;
}
.widget_layered_nav ul li.chosen a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f00d";
  font-size: .875em;
}
.widget_product_categories ul {
  list-style: none;
}
.widget_product_categories ul li .count {
  float: right;
}
.widget_login form {
  margin: 0;
}
.widget_login label {
  display: block;
}
.widget_login input[type=text],
.widget_login input[type=password] {
  width: 100%;
}
.widget_login p {
  margin-bottom: .53em;
}
.widget_login p:nth-child(3) {
  margin: .857em 0 0;
}
.widget_login p:nth-child(3) a {
  text-transform: uppercase;
  margin-left: 1em;
  font-size: .857em;
}
.widget_price_filter .price_slider {
  margin-bottom: 1em;
}
.widget_price_filter .price_slider_amount {
  text-align: right;
  line-height: 2.4em;
}
.widget_price_filter .price_slider_amount .button {
  float: left;
}
.widget_price_filter .ui-slider {
  position: relative;
  text-align: left;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1em;
  height: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  outline: none;
  background: #fff;
  border: 1px solid #ff9d4c;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.widget_price_filter .ui-slider .ui-slider-handle:last-child {
  margin-left: -1em;
}
.widget_price_filter .ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #ff9d4c;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #eeeeee;
}
.widget_price_filter .ui-slider-horizontal {
  height: 1em;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
  left: -1px;
}
.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
  right: -1px;
}
.woocommerce_message,
.woocommerce_info,
.woocommerce_error,
.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  padding: 1em 1em 1em 2.618em;
  border: 1px solid #eeeeee;
  position: relative;
  margin-bottom: 1.618em;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  clear: both;
}
.woocommerce_message:before,
.woocommerce_info:before,
.woocommerce_error:before,
.woocommerce-message:before,
.woocommerce-info:before,
.woocommerce-error:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  position: absolute;
  top: 1.4em;
  left: 1em;
}
.woocommerce_message .button,
.woocommerce_info .button,
.woocommerce_error .button,
.woocommerce-message .button,
.woocommerce-info .button,
.woocommerce-error .button {
  float: right;
  font-size: .857em;
  margin-left: 1em;
}
.woocommerce_message:before,
.woocommerce-message:before {
  content: "\f05d";
  color: #89b93f;
}
.woocommerce_info:before,
.woocommerce-info:before {
  content: "\f05a";
  color: #3c8bae;
}
.woocommerce_error:before,
.woocommerce-error:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.out-of-stock:before,
.stock.in-stock:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
}
.stock.out-of-stock:before {
  content: "\f05c";
  color: #c84e45;
}
.stock.in-stock:before {
  content: "\f05d";
  color: #89b93f;
}
.onsale {
  display: block;
  width: 3.631em;
  padding: 1em 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: .857em;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 999;
}
.quantity {
  width: 3.9em;
  position: relative;
  /* Disable input[type=number] buttons until the world is ready */

}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
}
.quantity .qty {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  width: 2.618em;
  height: 36px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.quantity .plus,
.quantity .minus {
  width: 1.618em;
  padding: 0;
  height: 19px;
  text-align: center;
  position: absolute;
  right: 0;
  border: 0;
  color: #fff;
  -webkit-appearance: none;
  /* Remove iOS glare */

}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #CF3E2B;
}
#tab-description {margin-top:30px;}
#tab-description h3 {color:#272727;}
.summary h1 {color:#272727;border-bottom:1px solid #EEEEEE}
.quantity .plus {
  top: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-top-right-radius: .327em;
  -moz-border-radius-topright: .327em;
  border-top-right-radius: .327em;
}
p.price {font-size:2em; margin:0 0 10px;}
.quantity .minus {
  bottom: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: .327em;
  -moz-border-radius-bottomright: .327em;
  border-bottom-right-radius: .327em;
}
ul.products {
  list-style: none;
  position: relative;
  clear: both;
}
ul.products:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
ul.products li.product {
  width: 100%;
  float: left;
  clear: left;
  margin-bottom: 1.618em;
  padding-bottom: 1.618em;
  border-bottom: 2px solid #eeeeee;
  text-align: center;
  position: relative;
}
ul.products li.product:nth-child(2n) {
  float: right;
  clear: none;
}
ul.products li.product a {
  color: #4b4b4b;
  text-decoration: none;
}
ul.products li.product h3 {
  font-size: 1em;
  margin-bottom: .53em;
}
ul.products li.product img {
  display: block;
  height: auto;
  margin: 0 auto 1em;
}
ul.products li.product .price {
  display: block;
  color: #8b8b8b;
}
ul.products li.product .onsale {
  position: absolute;
  top: .618em;
  right: .618em;
}
ul.products li.product .button {
  color: #fff;
  margin: 1em 0 0;
}
ul.products li.product .button:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f07a";
}
ul.products li.product .button.product_type_variable:before {
  content: "\f0ad";
}
ul.products li.product .button.loading:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f021";
  -webkit-animation-name: spin-360;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
}
ul.products li.product .button.added:after {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-left: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  text-align: right;
  content: "\f00c";
}
ul.products li.product .added_to_cart {
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 0 #000;
  color: #fff;
  display: block;
  position: absolute;
  bottom: 0;
  width: auto;
  left: 1.2em;
  bottom: 4.8em;
  border-radius: 1em;
  padding: .327em 1em;
}
ul.products li.product .added_to_cart:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #000;
  border-top-color: rgba(0, 0, 0, 0.6);
  border-width: .53em;
  right: 1.2em;
}
ul.products li.product .star-rating {
  float: none;
  width: 64px;
  margin: .618em auto;
}
.pagination-wrap:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.pagination-wrap .woo-pagination {
  width: 65.4%;
  float: left;
  text-align: left;
  padding: 0;
}
.woocommerce_ordering select,
.woocommerce-ordering select {
  width: 100%;
}
.single-product .product {
  position: relative;
}
.single-product .product .onsale {
  position: absolute;
  top: 1em;
  left: 1em;
}
.single-product .summary .amount {
  color: #ff9d4c;
  font-size: 1.618em;
}
.single-product .single_variation_wrap .price {
  display: block;
  font-size: 2.224em;
  color: #585858;
}
.single-product .quantity {
  float: left;
  margin: 0 1em 0 0;
}
.single-product .images img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
.single-product .thumbnails a {
  display: block;
  width: 30.75%;
  margin-right: 3.8%;
  float: left;
}
.single-product .thumbnails a.last {
  margin-right: 0;
}
.single-product .woocommerce_tabs,
.single-product .woocommerce-tabs {
  margin-top: 2.244em;
  margin-bottom: 2.244em;
  clear: both;
}
.single-product .woocommerce_tabs ul.tabs,
.single-product .woocommerce-tabs ul.tabs {
  border-bottom: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
.single-product .woocommerce_tabs ul.tabs li,
.single-product .woocommerce-tabs ul.tabs li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
.single-product .woocommerce_tabs ul.tabs li a,
.single-product .woocommerce-tabs ul.tabs li a {
  display: block;
  font-size: 1em;
  padding: .618em .2em !important;
  cursor: pointer;
}
.single-product .woocommerce_tabs ul.tabs li a:after,
.single-product .woocommerce-tabs ul.tabs li a:after {
  content: none;
}
.single-product .woocommerce_tabs ul.tabs li.active a,
.single-product .woocommerce-tabs ul.tabs li.active a {
  -webkit-border-top-left-radius: 0.53em !important;
  -webkit-border-top-right-radius: 0.53em !important;
  border-top-left-radius: 0.53em !important;
  border-top-right-radius: 0.53em !important;
  -moz-background-clip: padding !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  background: #fafafa;
  border: 1px solid #eeeeee;
  border-width: 1px 1px 0 1px;
}
.single-product .woocommerce_tabs .panel,
.single-product .woocommerce-tabs .panel {
  border: 1px solid #eeeeee;
  background: #fafafa;
  padding: 1.8em 1.618em 1.387em;
  -webkit-border-bottom-left-radius: 0.53em;
  -webkit-border-bottom-right-radius: 0.53em;
  border-bottom-left-radius: 0.53em;
  border-bottom-right-radius: 0.53em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: -1px 0 0;
}
.single-product .woocommerce_tabs .panel #reviews #comments,
.single-product .woocommerce-tabs .panel #reviews #comments {
  background: none;
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
}
.single-product .woocommerce_tabs .panel #reviews #respond-outer,
.single-product .woocommerce-tabs .panel #reviews #respond-outer,
.single-product .woocommerce_tabs .panel #reviews #respond,
.single-product .woocommerce-tabs .panel #reviews #respond {
  background: none;
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
  padding: 0;
  margin: 0;
  border: 0;
}
.single-product .woocommerce_tabs .panel #reviews #respond,
.single-product .woocommerce-tabs .panel #reviews #respond {
  margin: 1.327em 0 0;
}
.single-product .woocommerce_tabs .panel #reviews #respond h3,
.single-product .woocommerce-tabs .panel #reviews #respond h3 {
  font-size: 1.327em;
  margin: 0 0 .857em;
  padding: 0 0 .53em;
}
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-author,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-author,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-email,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-email,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-url,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-url {
  width: auto;
  margin-right: 0;
  float: none;
  display: block;
}
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-author label,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-author label,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-email label,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-email label,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-url label,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-url label {
  display: inline-block;
}
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-author input,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-author input,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-email input,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-email input,
.single-product .woocommerce_tabs .panel #reviews #respond .comment-form-url input,
.single-product .woocommerce-tabs .panel #reviews #respond .comment-form-url input {
  display: block;
}
.shipping_calculator h2 {
  font-size: 1.387em;
}
.shipping_calculator h2 a {
  display: block;
}
.shipping_calculator h2 a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: '\f0ac';
}
.shipping_calculator h2 a:hover {
  text-decoration: none;
}
a.reset_variations {
  display: block;
}
a.reset_variations:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f021";
}
.order_details {
  list-style: none;
  border: 1px solid #eeeeee;
  position: relative;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.order_details:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.order_details li {
  float: left;
  padding: 1em 1.618em;
  border-right: 1px solid #eeeeee;
  font-size: .8em;
  text-transform: uppercase;
  color: #e0e0e0;
}
.order_details li strong {
  display: block;
  font-size: 1.387em;
  text-transform: none;
  color: #8b8b8b;
}
ul.digital-downloads li {
  list-style: none;
  margin-bottom: .618em;
  padding-bottom: .618em;
  border-bottom: 1px solid #eeeeee;
}
ul.digital-downloads li .count {
  float: right;
}
ul.digital-downloads li a:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f01a";
}
ul.digital-downloads li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.backorder_notification {
  font-size: .857em;
}
.backorder_notification:before {
  font-family: 'FontAwesome';
  display: inline-block;
  font-size: 100%;
  margin-right: .618em;
  font-weight: normal;
  line-height: 1em;
  width: 1em;
  content: "\f071";
}
dl.variation {
  font-size: .857em;
}
dl.variation:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
dl.variation dt {
  float: left;
  clear: left;
  margin-right: .236em;
}
dl.variation dd {
  margin-bottom: 0;
}
table.cart .product-remove,
table.cart .product-thumbnail,
table.cart .product-price {
  display: none;
}
table.cart .actions {
  text-align: right;
}
table.cart .actions .coupon {
  margin-bottom: 1em;
}
table.cart .actions .coupon:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
table.cart .actions .coupon label {
  display: none;
}
table.cart .actions .coupon .input-text {
  width: 48%;
  float: left;

   -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875em;
    height:3.6125em;
    margin: 0 0 1em;
    padding: 0.5em;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
 
  }
  
table.cart .actions .coupon .button {
  width: 48%;
  float: right;
}
table.cart .actions .button {
  width: 100%;
}
table.cart .actions .button.checkout-button {
  margin-top: .327em;
}
table.cart .actions .checkout-button {
  float: right;
}
#reviews .commentlist {
  margin-bottom: 2.618em;
}
#reviews #comments {
  margin: 0;
}
#reviews .comment {
  padding: 1em 0 0;
  position: relative;
}
#reviews .comment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.comment_container .comment img {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0 1.618em 0 0 !important;
}
#reviews .comment .meta {
  margin: 0 .382em .618em;
  font-weight: normal;
  font-style: italic;
  color: #bebebe;
}
#reviews .add_review {
  clear: both;
  margin: 0 0 .618em;
}
.related {
  clear: both;
}
.related h2 {
  margin: 0 0 .857em;
}
#payment {
  border: 1px solid #eeeeee;
  -webkit-border-radius: 0.327em;
  border-radius: 0.327em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#payment:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#payment .create-account {
  clear: both;
}
#payment .payment_methods {
  margin: 0 !important;
  border-bottom: 1px solid #eeeeee;
  padding: 0 !important;
}
#payment .payment_methods li {
  list-style: none !important;
  padding: 1em !important;
  border-bottom: 1px solid #eeeeee;
  margin-left: 0;
}
#payment .payment_methods li img {
  float: right;
  border: 0;
  padding: 0;
}
#payment .payment_methods li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
#payment .payment_methods li label {
  width: 92%;
  padding-top: 0 !important;
  margin-left: .618em;
  font-weight: bold;
}
#payment .payment_methods li p {
  margin-bottom: 0;
}
#payment .payment_methods li .payment_box {
  padding: 1em;
  margin: 1em -1em -1em -1em;
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f6f6f6));
  /* Saf4+, Chrome */

  background-image: -webkit-linear-gradient(top, #fafafa, #f6f6f6);
  /* Chrome 10+, Saf5.1+, iOS 5+ */

  background-image: -moz-linear-gradient(top, #fafafa, #f6f6f6);
  /* FF3.6+ */

  background-image: -ms-linear-gradient(top, #fafafa, #f6f6f6);
  /* IE10 */

  background-image: -o-linear-gradient(top, #fafafa, #f6f6f6);
  /* Opera 11.10+ */

  background-image: linear-gradient(to bottom, #fafafa, #f6f6f6);
  border-top: 1px solid #eeeeee;
}
#payment .payment_methods li .payment_box fieldset {
  border: 0;
  margin: 0;
  padding: 1em 0 0 0;
  font-size: .857em;
}
#payment .payment_methods li .payment_box fieldset label {
  width: auto;
  margin-left: 0;
}
#payment .payment_methods li .payment_box fieldset .form-row {
  margin-bottom: 1em;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select {
  width: 48%;
}
#payment .payment_methods li .payment_box fieldset .form-row-first select:nth-child(2n) {
  float: right;
}
#payment .payment_methods li .payment_box fieldset #cvv {
  width: 22% !important;
}
#payment .payment_methods li .payment_box fieldset .help {
  width: 75%;
  float: right;
}
#payment .terms label {
  display: inline;
}
#payment .place-order {
  padding: 1em;
  margin-bottom: 0;
  float: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
#payment .place-order .button {
  font-size: 1.387em;
  width: 100%;
}
.woocommerce-page h1.page-title {
  margin: 0 0 1.387em;
  padding: 0 0 .857em;
  border: 1px dashed #dddddd;
  border-width: 0 0 1px 0;
  font-weight: normal;
}
.woocommerce-page h1.page-title a:link,
.woocommerce-page h1.page-title a:visited {
  color: #4b4b4b;
}
@media only screen and (min-width: 769px) {
  #header .widget_product_search {
    float: right;
    clear: none;
  }
  #header #header-components .cart-contents {
    padding: .53em 1em;
  }
  .woocommerce-result-count {
    width: 60%;
    float: left;
  }
  .woocommerce_ordering,
  .woocommerce-ordering {
    width: 30.75%;
    float: right;
    text-align: right;
  }
  .col2-set {
    clear: both;
  }
  .col2-set:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .col2-set .col-1 {
    width: 48%;
    float: left;
  }
  .col2-set .col-2 {
    width: 48%;
    float: right;
  }
  .form-row {
    width: 48%;
    float: left;
    margin-bottom: 2.053em;
  }
  .form-row#billing_state_field {
    margin-bottom: 2.5em;
  }
  .form-row label {
    display: block;
    padding: .236em 0;
  }
  .form-row label.checkbox {
    display: inline;
  }
  .form-row .input-text,
  .form-row select {
    width: 100%;
    *width: 90%;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
  
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
  
    box-sizing: border-box;
    /* Opera/IE 8+ */
  
  }
  .form-row.notes {
    width: 100%;
    float: none;
  }
  .form-row.notes textarea {
    width: 100%;
    *width: 90%;
  }
  .form-row.notes + h3 {
    clear: both;
  }
  .form-row-first {
    clear: left;
  }
  .form-row-last {
    float: right;
  }
  .form-row-wide {
    float: left;
    width: 100%;
    clear: both;
  }
  header.title {
    overflow: hidden;
    zoom: 1;
  }
  header.title h1,
  header.title h2,
  header.title h3,
  header.title h4,
  header.title h5 {
    float: left;
  }
  header.title a.edit {
    float: right;
    font-weight: bold;
    line-height: 2.4em;
  }
  header.title a.edit:before {
    font-family: 'FontAwesome';
    display: inline-block;
    font-size: 100%;
    margin-right: .618em;
    font-weight: normal;
    line-height: 1em;
    width: 1em;
    content: "\f044";
  }
  ul.products li.product {
    margin-right: 3.8%;
    clear: none;
  }
  ul.products li.product:nth-child(2n) {
    float: left;
  }
  ul.products li.product.first {
  }
  ul.products li.product.last {
    margin-right: 0;
  }
  .woocommerce-columns-2 ul.products li.product {
    width: 48%;
  }
  .woocommerce-columns-3 ul.products li.product {
    width: 30.75%;
  }
  .woocommerce-columns-4 ul.products li.product {
    width: 22.05%;
  }
  .woocommerce-columns-5 ul.products li.product {
    width: 16.96%;
  }
  .single-product .images,
  .single-product .summary {
    width: 48%;
    margin-bottom: 1.618em;
  }
  .single-product .images {
    float: left;
  }
  .single-product .summary {
    float: right;
  }
  .single-product table tbody th {
    border-bottom: none;
  }
  .cart_totals table,
  .shop_table {width:100%}
  .single-product .woocommerce_tabs,
  .single-product .woocommerce-tabs {
    margin-top: 0;
  }
  .single-product .woocommerce_tabs ul.tabs li a,
  .single-product .woocommerce-tabs ul.tabs li a {
    padding: .618em 1.2em !important;
  }
  table.cart .product-remove,
  table.cart .product-thumbnail,
  table.cart .product-price {
    display: table-cell;
  }
  table.cart .actions .button {
    width: auto;
    float: none;
  }
  table.cart .actions .button.checkout-button {
    margin-top: 0;
  }
  table.cart .actions .coupon {
    width: 48%;
    float: left;
    text-align: left;
    margin-bottom: 0;
  }
  .checkout_coupon .coupon .input-text,
  table.cart .actions .coupon .input-text {  
   -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875em;
    height:3.6125em;
    margin: 0 0 1em;
    padding: 0.5em;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
  table.cart .actions .coupon .button {
    width: auto;
    float: none;
  }
  .cart-collaterals:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .cross-sells,
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    width: 48%;
  }
  .cart-collaterals .cross-sells {
    float: left;
  }
  .cart-collaterals .cart_totals,
  .cart-collaterals .shipping_calculator {
    float: right;
    clear: right;
  }
  .cart-collaterals .shipping_calculator .shipping-calculator-form:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  .cart-collaterals .shipping_calculator .clear {
    clear: both;
  }
  #customer_details .col-1,
  #customer_details .col-2 {
    float: none;
    width: 100%;
  }
  #customer_details .col-1:after,
  #customer_details .col-2:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #customer_details #shiptobilling {
    float: none;
    width: 100%;
  }
  #customer_details .notes {
    clear: both;
  }
  .star-rating {
    float: right;
    margin-left: auto;
    margin-right: auto;
  }
}
.gecko .star-rating {
  width: 3.4em;
  font-size: 1.387em;
}
.gecko p.stars,
.gecko p.stars {
  width: 3.5em;
  font-size: 1.5em;
}
.gecko p.stars a.star-1,
.gecko p.stars a.star-1 {
  width: .7em;
}
.gecko p.stars a.star-2,
.gecko p.stars a.star-2 {
  width: 1.4em;
}
.gecko p.stars a.star-3,
.gecko p.stars a.star-3 {
  width: 2.1em;
}
.gecko p.stars a.star-4,
.gecko p.stars a.star-4 {
  width: 2.8em;
}
.gecko p.stars a.star-5,
.gecko p.stars a.star-5 {
  width: 3.5em;
}
.pp_woocommerce #respond-outer {
  box-shadow: 0 0 0 0 #888888;
  -webkit-box-shadow: 0 0 0 0 #888888;
}
/* iPad Portrait & Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .related ul.products li.product .button {
    font-size: 80%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .related ul.products li.product .button {
    font-size: 60%;
  }
}
