@model Portal.Models.Accreditation

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/ControlPanel/Views/Shared/_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Accreditation</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Car)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Car)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
