@{
    Layout = "~/Areas/ControlPanel/Views/Shared/_Admin.cshtml";
}

<!-- Pre Page Content -->
            <div id="pre-page-content">
                <h1><i class="glyphicon-show_big_thumbnails themed-color"></i>Панель управления<br><small>Публикация информация, настройка трансляций, заявок и т.д.</small></h1>
            </div>
            <!-- END Pre Page Content -->

            <!-- Page Content -->
            <div id="page-content"> 
                <!-- Tiles Block -->
                <div class="block block-tiles block-tiles-animated clearfix">
                    <a href="/controlpanel/series" class="tile tile-width-2x tile-height-2x tile-themed themed-background-tulip">
                        <i class="icon-trophy"></i>
                        <div class="tile-info">
                            <div class="pull-left">Серии</div>
                            <div class="pull-right"><strong>25</strong></div>
                        </div>
                    </a>
                    <a href="/controlpanel/timeline" class="tile tile-height-2x tile-themed themed-background-army">
                        <i class="icon-calendar"></i>
                        <div class="tile-info">
                            <div class="pull-left">Календарь мероприятий</div>
                            <div class="pull-right"><strong>15:00</strong></div>
                        </div>
                    </a>
                    <a href="javascript:void(0)" class="tile tile-themed themed-background-city">
                        <i class="icon-user"></i>
                        <div class="tile-info">
                            <div class="pull-left">Пользователи</div>
                            <div class="pull-right"><strong>25k</strong></div>
                        </div>
                    </a>                    
                    <a href="/controlpanel/news" class="tile tile-themed themed-background-dawn">
                        <i class="icon-rss"></i>
                        <div class="tile-info">
                            <div class="pull-left">Новости</div>
                            <div class="pull-right"><strong>89</strong></div>
                        </div>
                    </a>
                    <a href="javascript:void(0)" class="tile tile-themed themed-background-diamond">
                        <i class="icon-certificate"></i>
                        <div class="tile-info">
                            <div class="pull-left">Лицензии</div>
                            <div class="pull-right"><strong>20</strong></div>
                        </div>
                    </a>
                    <a href="/controlpanel/accreditations" class="tile tile-themed themed-background-deepsea">
                        <i class="icon-camera-retro"></i>
                        <div class="tile-info">Аккредитации</div>
                    </a>                                       
                    <a href="/controlpanel/documents" class="tile tile-themed themed-background-wood">
                        <i class="icon-paper-clip"></i>
                        <div class="tile-info">
                            <div class="pull-left">Документы</div>
                            <div class="pull-right"><strong>2</strong></div>
                        </div>
                    </a>                                                            
                    <a href="/controlpanel/orders" class="tile tile-themed themed-background-leaf">
                        <i class="glyphicon-cars"></i>
                        <div class="tile-info">Заявки</div>
                    </a>                    
                    <a href="/controlpanel/partners" class="tile tile-themed themed-background-fire">
                        <i class="icon-key"></i>
                        <div class="tile-info">Партнеры</div>
                    </a>                    
                    <a href="/controlpanel/media" class="tile tile-themed themed-background-deepsea">
                        <i class="glyphicon-picture"></i>
                        <div class="tile-info">Галлереи</div>
                    </a>
                </div>
                <!-- END Tiles Block -->                
            </div>
            <!-- END Page Content -->