
@{
    ViewBag.Title = "CommingSoon";
    Layout = "~/Views/Fortuna/Shared/_Default.cshtml";
}

<div id="pxs_container" class="pxs_container">
  <div class="pxs_bg">
    <div class="pxs_bg1"></div>
    <div class="pxs_bg2"></div>
    <div class="pxs_bg3"></div>
  </div>
  <div class="pxs_loading">Загрузка изображений...</div>
    <div class="pxs_slider_wrapper">
      <ul class="pxs_slider">
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-0.jpg" height="362" alt="" />                        
          </div>
        </li>
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-1.jpg" height="362" alt="" />                        
          </div>
        </li>
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-2.jpg" height="362" alt="" />                        
          </div>
        </li>
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-3.jpg" height="362" alt="" />                        
          </div>
        </li>
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-4.jpg" height="362" alt="" />                       
          </div>
        </li>
        <li>
          <div class="holder">
            <img src="/content/fortuna/commingsoon/s-5.jpg" height="362" alt="" />                        
          </div>
        </li>
      </ul>
      <div class="pxs_thumbnails_holder">
        <span class="pxs_prev"></span>
        <ul class="pxs_thumbnails">
          <li><div><img src="/content/fortuna/commingsoon/m-0.jpg" /><i></i></div></li>
          <li><div><img src="/content/fortuna/commingsoon/m-1.jpg"  /><i></i></div></li>
          <li><div><img src="/content/fortuna/commingsoon/m-2.jpg" /><i></i></div></li>
          <li><div><img src="/content/fortuna/commingsoon/m-3.jpg" /><i></i></div></li>
          <li><div><img src="/content/fortuna/commingsoon/m-4.jpg" /><i></i></div></li>
          <li><div><img src="/content/fortuna/commingsoon/m-5.jpg" /><i></i></div></li>
        </ul>
        <span class="pxs_next"></span>
      </div>
    </div>  
</div>
        
<div id="content_t"></div>
<div id="content_spot_t">
    <div id="content_spot_b">
        <div id="content" class="section">
             <div class="cols">
                 <h1><span class="fl">7</span> сентября 2014 года</h1>
                 <p>при поддержке ОАО "Третий парк"  на территории легендарного форта «Константин» пройдет автофестиваль «ФОРТуна 2014», который снова соберет под своими знаменами любителей ретро-автомобилей и мотоциклов.</p> 
                 <p>Форт «Константин» уже не в первый раз принимает в своих стенах любителей автомобилей и мотоциклов. На один день территория форта превратится в интерактивную экспозицию. Официальное открытие фестиваля - в 12 часов на главной площади форта.</p>
                 <p>Посетители увидят не только разнообразные ретро-автомобили советского и иностранного производства, но и смогут по настоящему посетить салоны  ретро-автобусов и по достоинству оценить редкие образцы мототехники.</p>
                 <p>«Автомобиль - не роскошь, а средство передвижения!», даже если он «ретро». Гостей форта в этот день любители автостарины порадуют не только экспозицией, но и настоящим соревнованием, которое начнутся  сразу после официального открытия. Владельцы ретро автомобилей смогут принять участие и показать зрителям искусное прохождение «фигур» маневрирования. Самые быстрые и зрелищные «пилоты» по достоинству будут вознаграждены подарками от партнеров.</p>
                 <p>В прошлом, 2013 году, на фестивале было представлено более 230 образцов ретро-техники, фестиваль посетило более 6000 человек.</p>
             </div>
        </div>      
    </div>
</div>

