@model Portal.Models.OfficialEvent
@{
    ViewBag.Title = "RegisterFinish";    
}

<div id="breadcrumbs_bg">
    <div id="breadcrumbs_m">
        <div id="breadcrumbs">
              <ul>
                <li><a href="/">Главная</a></li>
                
                
                <li>Регистрация</li>
                
              </ul>
              
                <h1><span class="fl">Р</span>егистрация на фестиваль</h1>
                    
        </div>
    </div>
</div>        





            <div id="content_t"></div>
                <div id="content_spot_t">
                <div id="content_spot_b">
                <div id="content" class="section">

                    <h1><span class="fl">З</span>аявка на участие в фестивале принята</h1>
                    <div class="cols">
                        <p>Ваша заявка на участние в фестивале принята. Мы с удовольствием ответим на все ваши вопросы по электронной почте <a href="mailto:info@avtofortuna.spb.ru">info@avtofortuna.spb.ru</a> или по телефонам, указанным в шапке сайте.</p>
                        <p>Ждем вас на фестивале!</p>
                        <p>Организаторы фестиваля "ФОРТУНА".</p>
                    </div>
                </div>
            </div>
                    </div>
