<?xml version="1.0"?>

<!--
Copyright (c) 2013-2014 Dmitry Fedorov
 Distributed under the GNU GPL v2. For full terms see the file COPYING.txt
-->
<configuration>
  <system.webServer>
    <httpCompression directory ="D:\">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="*/*" enabled="true" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <caching enableKernelCache="true">
      <profiles>
        <add location="Any" duration="24:00:00" policy="CacheForTimePeriod" extension="*" kernelCachePolicy ="CacheForTimePeriod"/>
      </profiles>
    </caching>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
