@{
    ViewBag.Title = "Сброс пароля";    
}

<div class="row">
				<div class="large-12 columns">

            		<div class="content">

                    	<div class="singletop">
                            <div class="search">
                                <form method="get" action="#">
									<input id="s" type="text" value="Search" name="s">
                                </form>	
                            </div>
                            <nav class="breadcrumbs">
                              <a href="/">Главная</a>                              
                              <a class="current" href="#">Сброс пароля</a>
                            </nav>
                        </div>
                        
                        <div class="homeposttitle">
                            <h3 class="widget-title">
                                <span>
                            			Сброс пароля
                                </span>
                            </h3>  
                        </div>
                        
               	  <div class="large-5 columns">     
                         <p>Пожалуйста укажите e-mail из вашего профиля:</p>               
                        @using (Html.BeginForm("ResetPassword", "Account", null, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <label for="name">E-mail</label>
                            @Html.TextBox("email","",new { @class="form-control"})
                            
                            <input type="submit" name="submit" id="submit" class="button small" value="Сбросить пароль" />
                        }                        
						</div>
                        <hr>

                    </div>
               
				</div><!-- large 12 -->
			</div><!-- end row -->

