@model System.Boolean

@{
    ViewBag.Title = "Сброй пароля";    
}

<div class="row">
				<div class="large-12 columns">

            		<div class="content">

                    	<div class="singletop">
                            <div class="search">
                                <form method="get" action="#">
									<input id="s" type="text" value="Search" name="s">
                                </form>	
                            </div>
                            <nav class="breadcrumbs">
                              <a href="/">Главная</a>                              
                              <a class="current" href="#">Сброс пароля</a>
                            </nav>
                        </div>
                        
                        <div class="homeposttitle">
                            <h3 class="widget-title">
                                <span>
                            			Сброс пароля
                                </span>
                            </h3>  
                        </div>
                        
               	  
                         @if (Model)
                         {
                             <p>Для вашей учетной записи был сформирован новый пароль и отправлен на электронную почту.</p>
                         }
                         else
                         {
                             <p>Пользователь с указанным вами e-mail не найден в базе. Пожалуйста проверьте ввод или свяжитесь со службой поддержки.</p>
                         }               
                         
                    
               </div>
				</div><!-- large 12 -->
			</div><!-- end row -->

